.container {
  max-width: 800px;
  color: #1c1f23;
  font-family: "Exo 2", sans-serif;
}

h1 {
  margin-top: 30px;
  background: #907fa4;
  border-radius: 11px;
  padding: 20px;
  text-align: center;
}

.fa-book-open {
  font-size: 58px;
}

main {
  background: #eeeeee;
  border-radius: 11px;
  padding: 20px;
}

footer {
  text-align: right;
  font-size: small;
  padding: 10px;
}

.git-link,
.emslime {
  color: #1c1f23;
}
