.meaning {
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}

.part {
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
}

.definition {
  font-size: 15.5px;
}

.example {
  font-size: 13.5px;
  opacity: 0.8;
  line-height: 3;
}
