h2 {
  font-weight: normal;
  padding: 10px;
  text-align: center;
}

.word {
  font-size: 36px;
}

.phonetics {
  text-decoration: underline;
  opacity: 0.7;
  font-size: 23px;
}

.audio {
  font-size: 20px;
}

.audio-link {
  color: #1c1f23;
  text-decoration: none;
}

.audio-link:hover {
  cursor: pointer;
}
